.login-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  margin-right: -116%;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #5c8a87;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: aliceblue;
  color: #333;
}

.login-container button {
  width: 37%;
  padding: 10px;
  background: #5c8a87;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 33%;
}

.login-container button:hover {
  background: #4338ca;
}
.error-text {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  display: block;
}
