.navbar {
  background-color: #1bc47d;
  color: white;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  position: fixed;
  width: 98%;
  top: 0;
  z-index: 1000;
  height: 10%;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navbar-button {
  border: none;
  padding: 0.7rem 1.4rem;
  margin: 0.3rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-language {
  background-color: #1bc47d;
  color: white;
  padding: 0.4rem 2rem;
}
.navbar-toggle {
  background-color: #1bc47d;
  color: #ffbe0b;
  font-size: 1.5rem;
}
