.app-container {
  min-height: 100vh;
  background: #fef9f4; /* color cálido */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fef9f4;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
  width: 2000px;
}
